.topo{
 /* background: #673ab7; */
 /* background: #9400ff; */
 background: linear-gradient(to bottom, #b10822, transparent);
}
.text {
  letter-spacing: 14px;
}
.content{
  height: calc(100vh - 53px);    
  margin: 0 auto;
  background-image: url('../../../../assets/library.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
button,
button:enabled{
  background-color: #b10822 !important; 
}

button:hover{
  background-color: #b10822aa !important; 
}
